h1, p, button, body {
  margin: 0;
}

.flow > :where(:not(:first-child)) {
  margin-top: 2rem;
}

body {
  font-size: 3rem;
  min-height: 100vh;
  font-family: serif;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex--column {
  flex-direction: column;
}

.main {
  gap: 3rem;
}

.numero {
  padding: 1rem;
  min-width: 4rem;
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: aquamarine;
  font-size: 4rem;
  margin-inline: 0.5rem;
}

.btn {
  border-radius: 10px;
  border: none;
  background-color: blueviolet;
  color: aliceblue;
  text-transform: uppercase;
  margin-top: 2rem;
  padding: 1rem 4rem;
  font-size: 1.5rem;
}

@media (max-width:53rem) {
  body {
    font-size: 1.5rem;
  }
  .numero {
    font-size: 1.5rem;
    min-width: 1rem;
    padding: 0.7rem;
    margin-inline: 0.1rem;
  }
  .main {
    gap: 1rem;
  }
  .btn {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
  }
}